.App {
  background-color: #f3f3fb;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-content {
  flex: 1;
  display: grid;
  grid-template-rows: max-content auto;
}
.app-content h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;
  margin: 0 0 50px;
}
